In [95]:
from selenium import webdriver
from bs4 import BeautifulSoup
from selenium.webdriver.support.ui import Select
import time

In [96]:
url_coronaboard = 'https://coronaboard.kr/'

driver = webdriver.Chrome('chromedriver')

driver.get(url_coronaboard)

In [97]:
# ì–´ì œ : //*[@id="global-slide"]/div/div[2]/ul/li[2]/a
flag_today = False # False : ì–´ì œ, Today : ì˜¤ëŠ˜
if flag_today==False:
    sel_yesterday = driver.find_element_by_xpath('//*[@id="global-slide"]/div/div[2]/ul/li[2]/a')
    sel_yesterday.click()

In [98]:
some_tag = driver.find_element_by_xpath('//*[@id="global-slide"]/div/div[2]/div/div/button/div/div/div')
ActionChains(driver).move_to_element(some_tag).perform()
some_tag.click()
sel_menu = driver.find_element_by_xpath('//*[@id="bs-select-1-1"]')
sel_menu.click()
sel_menu = driver.find_element_by_xpath('//*[@id="bs-select-1-5"]')
sel_menu.click()

In [99]:
from selenium.webdriver import ActionChains

some_tag = driver.find_element_by_id('show-more')
ActionChains(driver).move_to_element(some_tag).perform()
some_tag.click()

In [100]:
some_tag = driver.find_element_by_id('show-more')
ActionChains(driver).move_to_element(some_tag).perform()
some_tag.click()

In [101]:
all_data = []
for i in range(2, 11):
    tmp = '//*[@id="country-table"]/div/div/table/tbody/tr/td[{}]'.format(i)
    # print(tmp)
    sel_ele = driver.find_elements_by_xpath(tmp)
    
    
    column_data = []
    for one in sel_ele:
        # print(one.text)
        column_data.append(one.text)
    
    all_data.append(column_data)

In [102]:
import pandas as pd

dict_dat = { "êµ­ê°€":all_data[0], 
             "í™•ì§„ì":all_data[1],
             "ìœ„ì¤‘ì¦":all_data[2],
             "ì‚¬ë§ì":all_data[3],
             "ì™„ì¹˜":all_data[4],
             "ì¹˜ëª…(%)":all_data[5],
             "ì™„ì¹˜(%)":all_data[6],
             "ë°œìƒë¥ ":all_data[7],
             "ì¸êµ¬ìˆ˜":all_data[8]
           }

dat = pd.DataFrame(dict_dat)
dat

,êµ­ê°€,í™•ì§„ì,ìœ„ì¤‘ì¦,ì‚¬ë§ì,ì™„ì¹˜,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜
0,ë¯¸êµ­ğŸ‡ºğŸ‡¸,"43,942,335\n(+187,382)","21,819\n(-275)","709,119\n(+2,781)","33,394,833\n(+208,564)",1.6,76.0,"133,095","331,002,651"
1,ì¸ë„ğŸ‡®ğŸ‡³,"33,714,241\n(+21,093)","8,944","447,699\n(+337)","32,976,760\n(+28,144)",1.3,97.8,"24,431","1,380,004,385"
2,ë¸Œë¼ì§ˆğŸ‡§ğŸ‡·,"21,366,395\n(+14,423)","8,318","594,702\n(+218)","20,361,191\n(+20,818)",2.8,95.3,"100,592","212,559,417"
3,ì˜êµ­ğŸ‡¬ğŸ‡§,"7,701,715\n(+37,485)",878\n(-38),"136,208\n(+40)","6,219,111\n(+33,541)",1.8,80.7,"113,959","67,886,011"
4,ëŸ¬ì‹œì•„ğŸ‡·ğŸ‡º,"7,464,708\n(+21,559)","2,300","205,531\n(+852)","6,635,485\n(+17,368)",2.8,88.9,"51,151","145,934,462"
...,...,...,...,...,...,...,...,...,...
217,ë§ˆì…œ ì œë„ğŸ‡²ğŸ‡­,4,N/A,0,4,-,100,68,"59,190"
218,ë°”ëˆ„ì•„íˆ¬ğŸ‡»ğŸ‡º,4,N/A,1,3,25,75,13,"307,145"
219,ì‚¬ëª¨ì•„ğŸ‡¼ğŸ‡¸,3,N/A,0,3,-,100,15,"198,414"
220,ì„¸ì¸íŠ¸í—¬ë ˆë‚˜ğŸ‡¸ğŸ‡­,2,N/A,0,2,-,100,329,"6,077"
221,ë¯¸í¬ë¡œë„¤ì‹œì•„ğŸ‡«ğŸ‡²,1,N/A,0,1,-,100,9,"115,023"

In [103]:
dat['í™•ì§„ì']

0      43,942,335\n(+187,382)
1       33,714,241\n(+21,093)
2       21,366,395\n(+14,423)
3        7,701,715\n(+37,485)
4        7,464,708\n(+21,559)
                ...
217                         4
218                         4
219                         3
220                         2
221                         1
Name: í™•ì§„ì, Length: 222, dtype: object

In [104]:
dat.columns

Index(['êµ­ê°€', 'í™•ì§„ì', 'ìœ„ì¤‘ì¦', 'ì‚¬ë§ì', 'ì™„ì¹˜', 'ì¹˜ëª…(%)', 'ì™„ì¹˜(%)', 'ë°œìƒë¥ ', 'ì¸êµ¬ìˆ˜'], dtype='object')

In [105]:
dat['í™•ì§„ì'].str.split('\n')

0      [43,942,335, (+187,382)]
1       [33,714,241, (+21,093)]
2       [21,366,395, (+14,423)]
3        [7,701,715, (+37,485)]
4        [7,464,708, (+21,559)]
                 ...
217                         [4]
218                         [4]
219                         [3]
220                         [2]
221                         [1]
Name: í™•ì§„ì, Length: 222, dtype: object

In [106]:
dat['í™•ì§„ì_í•©ê³„'] = dat['í™•ì§„ì'].str.split('\n').str[0]
dat['í™•ì§„ì_ì¼ì¼'] = dat['í™•ì§„ì'].str.split('\n').str[1]

In [107]:
dat

,êµ­ê°€,í™•ì§„ì,ìœ„ì¤‘ì¦,ì‚¬ë§ì,ì™„ì¹˜,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,í™•ì§„ì_í•©ê³„,í™•ì§„ì_ì¼ì¼
0,ë¯¸êµ­ğŸ‡ºğŸ‡¸,"43,942,335\n(+187,382)","21,819\n(-275)","709,119\n(+2,781)","33,394,833\n(+208,564)",1.6,76.0,"133,095","331,002,651","43,942,335","(+187,382)"
1,ì¸ë„ğŸ‡®ğŸ‡³,"33,714,241\n(+21,093)","8,944","447,699\n(+337)","32,976,760\n(+28,144)",1.3,97.8,"24,431","1,380,004,385","33,714,241","(+21,093)"
2,ë¸Œë¼ì§ˆğŸ‡§ğŸ‡·,"21,366,395\n(+14,423)","8,318","594,702\n(+218)","20,361,191\n(+20,818)",2.8,95.3,"100,592","212,559,417","21,366,395","(+14,423)"
3,ì˜êµ­ğŸ‡¬ğŸ‡§,"7,701,715\n(+37,485)",878\n(-38),"136,208\n(+40)","6,219,111\n(+33,541)",1.8,80.7,"113,959","67,886,011","7,701,715","(+37,485)"
4,ëŸ¬ì‹œì•„ğŸ‡·ğŸ‡º,"7,464,708\n(+21,559)","2,300","205,531\n(+852)","6,635,485\n(+17,368)",2.8,88.9,"51,151","145,934,462","7,464,708","(+21,559)"
...,...,...,...,...,...,...,...,...,...,...,...
217,ë§ˆì…œ ì œë„ğŸ‡²ğŸ‡­,4,N/A,0,4,-,100,68,"59,190",4,NaN
218,ë°”ëˆ„ì•„íˆ¬ğŸ‡»ğŸ‡º,4,N/A,1,3,25,75,13,"307,145",4,NaN
219,ì‚¬ëª¨ì•„ğŸ‡¼ğŸ‡¸,3,N/A,0,3,-,100,15,"198,414",3,NaN
220,ì„¸ì¸íŠ¸í—¬ë ˆë‚˜ğŸ‡¸ğŸ‡­,2,N/A,0,2,-,100,329,"6,077",2,NaN
221,ë¯¸í¬ë¡œë„¤ì‹œì•„ğŸ‡«ğŸ‡²,1,N/A,0,1,-,100,9,"115,023",1,NaN

In [108]:
dat['ì‚¬ë§ì_í•©ê³„'] = dat['ì‚¬ë§ì'].str.split('\n').str[0]
dat['ì‚¬ë§ì_ì¼ì¼'] = dat['ì‚¬ë§ì'].str.split('\n').str[1]

In [109]:
dat['ì™„ì¹˜_í•©ê³„'] = dat['ì™„ì¹˜'].str.split('\n').str[0]
dat['ì™„ì¹˜_ì¼ì¼'] = dat['ì™„ì¹˜'].str.split('\n').str[1]

In [110]:
dat

,êµ­ê°€,í™•ì§„ì,ìœ„ì¤‘ì¦,ì‚¬ë§ì,ì™„ì¹˜,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,í™•ì§„ì_í•©ê³„,í™•ì§„ì_ì¼ì¼,ì‚¬ë§ì_í•©ê³„,ì‚¬ë§ì_ì¼ì¼,ì™„ì¹˜_í•©ê³„,ì™„ì¹˜_ì¼ì¼
0,ë¯¸êµ­ğŸ‡ºğŸ‡¸,"43,942,335\n(+187,382)","21,819\n(-275)","709,119\n(+2,781)","33,394,833\n(+208,564)",1.6,76.0,"133,095","331,002,651","43,942,335","(+187,382)","709,119","(+2,781)","33,394,833","(+208,564)"
1,ì¸ë„ğŸ‡®ğŸ‡³,"33,714,241\n(+21,093)","8,944","447,699\n(+337)","32,976,760\n(+28,144)",1.3,97.8,"24,431","1,380,004,385","33,714,241","(+21,093)","447,699",(+337),"32,976,760","(+28,144)"
2,ë¸Œë¼ì§ˆğŸ‡§ğŸ‡·,"21,366,395\n(+14,423)","8,318","594,702\n(+218)","20,361,191\n(+20,818)",2.8,95.3,"100,592","212,559,417","21,366,395","(+14,423)","594,702",(+218),"20,361,191","(+20,818)"
3,ì˜êµ­ğŸ‡¬ğŸ‡§,"7,701,715\n(+37,485)",878\n(-38),"136,208\n(+40)","6,219,111\n(+33,541)",1.8,80.7,"113,959","67,886,011","7,701,715","(+37,485)","136,208",(+40),"6,219,111","(+33,541)"
4,ëŸ¬ì‹œì•„ğŸ‡·ğŸ‡º,"7,464,708\n(+21,559)","2,300","205,531\n(+852)","6,635,485\n(+17,368)",2.8,88.9,"51,151","145,934,462","7,464,708","(+21,559)","205,531",(+852),"6,635,485","(+17,368)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,ë§ˆì…œ ì œë„ğŸ‡²ğŸ‡­,4,N/A,0,4,-,100,68,"59,190",4,NaN,0,NaN,4,NaN
218,ë°”ëˆ„ì•„íˆ¬ğŸ‡»ğŸ‡º,4,N/A,1,3,25,75,13,"307,145",4,NaN,1,NaN,3,NaN
219,ì‚¬ëª¨ì•„ğŸ‡¼ğŸ‡¸,3,N/A,0,3,-,100,15,"198,414",3,NaN,0,NaN,3,NaN
220,ì„¸ì¸íŠ¸í—¬ë ˆë‚˜ğŸ‡¸ğŸ‡­,2,N/A,0,2,-,100,329,"6,077",2,NaN,0,NaN,2,NaN
221,ë¯¸í¬ë¡œë„¤ì‹œì•„ğŸ‡«ğŸ‡²,1,N/A,0,1,-,100,9,"115,023",1,NaN,0,NaN,1,NaN

In [111]:
dat.drop(['í™•ì§„ì', 'ì‚¬ë§ì', 'ì™„ì¹˜'], axis=1, inplace=True)

In [112]:
dat

,êµ­ê°€,ìœ„ì¤‘ì¦,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,í™•ì§„ì_í•©ê³„,í™•ì§„ì_ì¼ì¼,ì‚¬ë§ì_í•©ê³„,ì‚¬ë§ì_ì¼ì¼,ì™„ì¹˜_í•©ê³„,ì™„ì¹˜_ì¼ì¼
0,ë¯¸êµ­ğŸ‡ºğŸ‡¸,"21,819\n(-275)",1.6,76.0,"133,095","331,002,651","43,942,335","(+187,382)","709,119","(+2,781)","33,394,833","(+208,564)"
1,ì¸ë„ğŸ‡®ğŸ‡³,"8,944",1.3,97.8,"24,431","1,380,004,385","33,714,241","(+21,093)","447,699",(+337),"32,976,760","(+28,144)"
2,ë¸Œë¼ì§ˆğŸ‡§ğŸ‡·,"8,318",2.8,95.3,"100,592","212,559,417","21,366,395","(+14,423)","594,702",(+218),"20,361,191","(+20,818)"
3,ì˜êµ­ğŸ‡¬ğŸ‡§,878\n(-38),1.8,80.7,"113,959","67,886,011","7,701,715","(+37,485)","136,208",(+40),"6,219,111","(+33,541)"
4,ëŸ¬ì‹œì•„ğŸ‡·ğŸ‡º,"2,300",2.8,88.9,"51,151","145,934,462","7,464,708","(+21,559)","205,531",(+852),"6,635,485","(+17,368)"
...,...,...,...,...,...,...,...,...,...,...,...,...
217,ë§ˆì…œ ì œë„ğŸ‡²ğŸ‡­,N/A,-,100,68,"59,190",4,NaN,0,NaN,4,NaN
218,ë°”ëˆ„ì•„íˆ¬ğŸ‡»ğŸ‡º,N/A,25,75,13,"307,145",4,NaN,1,NaN,3,NaN
219,ì‚¬ëª¨ì•„ğŸ‡¼ğŸ‡¸,N/A,-,100,15,"198,414",3,NaN,0,NaN,3,NaN
220,ì„¸ì¸íŠ¸í—¬ë ˆë‚˜ğŸ‡¸ğŸ‡­,N/A,-,100,329,"6,077",2,NaN,0,NaN,2,NaN
221,ë¯¸í¬ë¡œë„¤ì‹œì•„ğŸ‡«ğŸ‡²,N/A,-,100,9,"115,023",1,NaN,0,NaN,1,NaN

In [113]:
dat['ìœ„ì¤‘ì¦'] = dat['ìœ„ì¤‘ì¦'].str.replace(pat=r'[,()]', repl=r'', regex=True)
dat['ë°œìƒë¥ '] = dat['ë°œìƒë¥ '].str.replace(pat=r'[,]', repl=r'', regex=True)
dat['ì¸êµ¬ìˆ˜'] = dat['ì¸êµ¬ìˆ˜'].str.replace(pat=r'[,]', repl=r'', regex=True)
dat['í™•ì§„ì_í•©ê³„'] = dat['í™•ì§„ì_í•©ê³„'].str.replace(pat=r'[,]', repl=r'', regex=True)
dat['í™•ì§„ì_ì¼ì¼'] = dat['í™•ì§„ì_ì¼ì¼'].str.replace(pat=r'[,()]', repl=r'', regex=True)

In [114]:
dat

,êµ­ê°€,ìœ„ì¤‘ì¦,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,í™•ì§„ì_í•©ê³„,í™•ì§„ì_ì¼ì¼,ì‚¬ë§ì_í•©ê³„,ì‚¬ë§ì_ì¼ì¼,ì™„ì¹˜_í•©ê³„,ì™„ì¹˜_ì¼ì¼
0,ë¯¸êµ­ğŸ‡ºğŸ‡¸,21819\n-275,1.6,76.0,133095,331002651,43942335,+187382,"709,119","(+2,781)","33,394,833","(+208,564)"
1,ì¸ë„ğŸ‡®ğŸ‡³,8944,1.3,97.8,24431,1380004385,33714241,+21093,"447,699",(+337),"32,976,760","(+28,144)"
2,ë¸Œë¼ì§ˆğŸ‡§ğŸ‡·,8318,2.8,95.3,100592,212559417,21366395,+14423,"594,702",(+218),"20,361,191","(+20,818)"
3,ì˜êµ­ğŸ‡¬ğŸ‡§,878\n-38,1.8,80.7,113959,67886011,7701715,+37485,"136,208",(+40),"6,219,111","(+33,541)"
4,ëŸ¬ì‹œì•„ğŸ‡·ğŸ‡º,2300,2.8,88.9,51151,145934462,7464708,+21559,"205,531",(+852),"6,635,485","(+17,368)"
...,...,...,...,...,...,...,...,...,...,...,...,...
217,ë§ˆì…œ ì œë„ğŸ‡²ğŸ‡­,N/A,-,100,68,59190,4,NaN,0,NaN,4,NaN
218,ë°”ëˆ„ì•„íˆ¬ğŸ‡»ğŸ‡º,N/A,25,75,13,307145,4,NaN,1,NaN,3,NaN
219,ì‚¬ëª¨ì•„ğŸ‡¼ğŸ‡¸,N/A,-,100,15,198414,3,NaN,0,NaN,3,NaN
220,ì„¸ì¸íŠ¸í—¬ë ˆë‚˜ğŸ‡¸ğŸ‡­,N/A,-,100,329,6077,2,NaN,0,NaN,2,NaN
221,ë¯¸í¬ë¡œë„¤ì‹œì•„ğŸ‡«ğŸ‡²,N/A,-,100,9,115023,1,NaN,0,NaN,1,NaN

In [115]:
dat['ì‚¬ë§ì_í•©ê³„'] = dat['í™•ì§„ì_í•©ê³„'].str.replace(pat=r'[,]', repl=r'', regex=True)

In [116]:
dat

,êµ­ê°€,ìœ„ì¤‘ì¦,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,í™•ì§„ì_í•©ê³„,í™•ì§„ì_ì¼ì¼,ì‚¬ë§ì_í•©ê³„,ì‚¬ë§ì_ì¼ì¼,ì™„ì¹˜_í•©ê³„,ì™„ì¹˜_ì¼ì¼
0,ë¯¸êµ­ğŸ‡ºğŸ‡¸,21819\n-275,1.6,76.0,133095,331002651,43942335,+187382,43942335,"(+2,781)","33,394,833","(+208,564)"
1,ì¸ë„ğŸ‡®ğŸ‡³,8944,1.3,97.8,24431,1380004385,33714241,+21093,33714241,(+337),"32,976,760","(+28,144)"
2,ë¸Œë¼ì§ˆğŸ‡§ğŸ‡·,8318,2.8,95.3,100592,212559417,21366395,+14423,21366395,(+218),"20,361,191","(+20,818)"
3,ì˜êµ­ğŸ‡¬ğŸ‡§,878\n-38,1.8,80.7,113959,67886011,7701715,+37485,7701715,(+40),"6,219,111","(+33,541)"
4,ëŸ¬ì‹œì•„ğŸ‡·ğŸ‡º,2300,2.8,88.9,51151,145934462,7464708,+21559,7464708,(+852),"6,635,485","(+17,368)"
...,...,...,...,...,...,...,...,...,...,...,...,...
217,ë§ˆì…œ ì œë„ğŸ‡²ğŸ‡­,N/A,-,100,68,59190,4,NaN,4,NaN,4,NaN
218,ë°”ëˆ„ì•„íˆ¬ğŸ‡»ğŸ‡º,N/A,25,75,13,307145,4,NaN,4,NaN,3,NaN
219,ì‚¬ëª¨ì•„ğŸ‡¼ğŸ‡¸,N/A,-,100,15,198414,3,NaN,3,NaN,3,NaN
220,ì„¸ì¸íŠ¸í—¬ë ˆë‚˜ğŸ‡¸ğŸ‡­,N/A,-,100,329,6077,2,NaN,2,NaN,2,NaN
221,ë¯¸í¬ë¡œë„¤ì‹œì•„ğŸ‡«ğŸ‡²,N/A,-,100,9,115023,1,NaN,1,NaN,1,NaN

In [117]:
dat['ì‚¬ë§ì_ì¼ì¼'] = dat['ì‚¬ë§ì_ì¼ì¼'].str.replace(pat=r'[,()]', repl='', regex=True)

In [118]:
dat.head()

,êµ­ê°€,ìœ„ì¤‘ì¦,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,í™•ì§„ì_í•©ê³„,í™•ì§„ì_ì¼ì¼,ì‚¬ë§ì_í•©ê³„,ì‚¬ë§ì_ì¼ì¼,ì™„ì¹˜_í•©ê³„,ì™„ì¹˜_ì¼ì¼
0,ë¯¸êµ­ğŸ‡ºğŸ‡¸,21819\n-275,1.6,76.0,133095,331002651,43942335,+187382,43942335,+2781,"33,394,833","(+208,564)"
1,ì¸ë„ğŸ‡®ğŸ‡³,8944,1.3,97.8,24431,1380004385,33714241,+21093,33714241,+337,"32,976,760","(+28,144)"
2,ë¸Œë¼ì§ˆğŸ‡§ğŸ‡·,8318,2.8,95.3,100592,212559417,21366395,+14423,21366395,+218,"20,361,191","(+20,818)"
3,ì˜êµ­ğŸ‡¬ğŸ‡§,878\n-38,1.8,80.7,113959,67886011,7701715,+37485,7701715,+40,"6,219,111","(+33,541)"
4,ëŸ¬ì‹œì•„ğŸ‡·ğŸ‡º,2300,2.8,88.9,51151,145934462,7464708,+21559,7464708,+852,"6,635,485","(+17,368)"

In [119]:
dat['ì™„ì¹˜_í•©ê³„'] = dat['ì™„ì¹˜_í•©ê³„'].str.replace(pat=r'[,]', repl='', regex=True)

In [120]:
dat['ì™„ì¹˜_ì¼ì¼'] = dat['ì™„ì¹˜_ì¼ì¼'].str.replace(pat=r'[,()]', repl='', regex=True)

In [121]:
dat.head()

,êµ­ê°€,ìœ„ì¤‘ì¦,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,í™•ì§„ì_í•©ê³„,í™•ì§„ì_ì¼ì¼,ì‚¬ë§ì_í•©ê³„,ì‚¬ë§ì_ì¼ì¼,ì™„ì¹˜_í•©ê³„,ì™„ì¹˜_ì¼ì¼
0,ë¯¸êµ­ğŸ‡ºğŸ‡¸,21819\n-275,1.6,76.0,133095,331002651,43942335,+187382,43942335,+2781,33394833,+208564
1,ì¸ë„ğŸ‡®ğŸ‡³,8944,1.3,97.8,24431,1380004385,33714241,+21093,33714241,+337,32976760,+28144
2,ë¸Œë¼ì§ˆğŸ‡§ğŸ‡·,8318,2.8,95.3,100592,212559417,21366395,+14423,21366395,+218,20361191,+20818
3,ì˜êµ­ğŸ‡¬ğŸ‡§,878\n-38,1.8,80.7,113959,67886011,7701715,+37485,7701715,+40,6219111,+33541
4,ëŸ¬ì‹œì•„ğŸ‡·ğŸ‡º,2300,2.8,88.9,51151,145934462,7464708,+21559,7464708,+852,6635485,+17368

In [122]:
dat['ìœ„ì¤‘ì¦_í•©ê³„'] = dat['ìœ„ì¤‘ì¦'].str.split('\n').str[0]
dat['ìœ„ì¤‘ì¦_ì¼ì¼'] = dat['ìœ„ì¤‘ì¦'].str.split('\n').str[1]

In [123]:
dat.head()

,êµ­ê°€,ìœ„ì¤‘ì¦,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,í™•ì§„ì_í•©ê³„,í™•ì§„ì_ì¼ì¼,ì‚¬ë§ì_í•©ê³„,ì‚¬ë§ì_ì¼ì¼,ì™„ì¹˜_í•©ê³„,ì™„ì¹˜_ì¼ì¼,ìœ„ì¤‘ì¦_í•©ê³„,ìœ„ì¤‘ì¦_ì¼ì¼
0,ë¯¸êµ­ğŸ‡ºğŸ‡¸,21819\n-275,1.6,76.0,133095,331002651,43942335,+187382,43942335,+2781,33394833,+208564,21819,-275
1,ì¸ë„ğŸ‡®ğŸ‡³,8944,1.3,97.8,24431,1380004385,33714241,+21093,33714241,+337,32976760,+28144,8944,NaN
2,ë¸Œë¼ì§ˆğŸ‡§ğŸ‡·,8318,2.8,95.3,100592,212559417,21366395,+14423,21366395,+218,20361191,+20818,8318,NaN
3,ì˜êµ­ğŸ‡¬ğŸ‡§,878\n-38,1.8,80.7,113959,67886011,7701715,+37485,7701715,+40,6219111,+33541,878,-38
4,ëŸ¬ì‹œì•„ğŸ‡·ğŸ‡º,2300,2.8,88.9,51151,145934462,7464708,+21559,7464708,+852,6635485,+17368,2300,NaN

In [124]:
dat.drop(['ìœ„ì¤‘ì¦'], axis=1,inplace=True)

In [125]:
dat.head()

,êµ­ê°€,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,í™•ì§„ì_í•©ê³„,í™•ì§„ì_ì¼ì¼,ì‚¬ë§ì_í•©ê³„,ì‚¬ë§ì_ì¼ì¼,ì™„ì¹˜_í•©ê³„,ì™„ì¹˜_ì¼ì¼,ìœ„ì¤‘ì¦_í•©ê³„,ìœ„ì¤‘ì¦_ì¼ì¼
0,ë¯¸êµ­ğŸ‡ºğŸ‡¸,1.6,76.0,133095,331002651,43942335,+187382,43942335,+2781,33394833,+208564,21819,-275
1,ì¸ë„ğŸ‡®ğŸ‡³,1.3,97.8,24431,1380004385,33714241,+21093,33714241,+337,32976760,+28144,8944,NaN
2,ë¸Œë¼ì§ˆğŸ‡§ğŸ‡·,2.8,95.3,100592,212559417,21366395,+14423,21366395,+218,20361191,+20818,8318,NaN
3,ì˜êµ­ğŸ‡¬ğŸ‡§,1.8,80.7,113959,67886011,7701715,+37485,7701715,+40,6219111,+33541,878,-38
4,ëŸ¬ì‹œì•„ğŸ‡·ğŸ‡º,2.8,88.9,51151,145934462,7464708,+21559,7464708,+852,6635485,+17368,2300,NaN

In [126]:
dat.drop(['ìœ„ì¤‘ì¦'], axis=1,inplace=True, errors='ignore')

In [127]:
dat.head()

,êµ­ê°€,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,í™•ì§„ì_í•©ê³„,í™•ì§„ì_ì¼ì¼,ì‚¬ë§ì_í•©ê³„,ì‚¬ë§ì_ì¼ì¼,ì™„ì¹˜_í•©ê³„,ì™„ì¹˜_ì¼ì¼,ìœ„ì¤‘ì¦_í•©ê³„,ìœ„ì¤‘ì¦_ì¼ì¼
0,ë¯¸êµ­ğŸ‡ºğŸ‡¸,1.6,76.0,133095,331002651,43942335,+187382,43942335,+2781,33394833,+208564,21819,-275
1,ì¸ë„ğŸ‡®ğŸ‡³,1.3,97.8,24431,1380004385,33714241,+21093,33714241,+337,32976760,+28144,8944,NaN
2,ë¸Œë¼ì§ˆğŸ‡§ğŸ‡·,2.8,95.3,100592,212559417,21366395,+14423,21366395,+218,20361191,+20818,8318,NaN
3,ì˜êµ­ğŸ‡¬ğŸ‡§,1.8,80.7,113959,67886011,7701715,+37485,7701715,+40,6219111,+33541,878,-38
4,ëŸ¬ì‹œì•„ğŸ‡·ğŸ‡º,2.8,88.9,51151,145934462,7464708,+21559,7464708,+852,6635485,+17368,2300,NaN

In [130]:
from datetime import datetime
from datetime import date
import datetime
import os

today = datetime.date.today()
yesterday = today - datetime.timedelta(days=1)

# print(today)
# print(yesterday)
if flag_today == True:
    file_make_time = today
else:
    file_make_time = yesterday

print( file_make_time )

print( os.getcwd() )
path_dir = os.getcwd() + "\\data\\"
path_file = path_dir + str(file_make_time)
print( path_dir,  path_file, sep="\n" )

2021-09-28
C:\Users\Administrator\Documents\GitHub\LikeLion_13th_DataCourse\12_corona
C:\Users\Administrator\Documents\GitHub\LikeLion_13th_DataCourse\12_corona\data\
C:\Users\Administrator\Documents\GitHub\LikeLion_13th_DataCourse\12_corona\data\2021-09-28

In [131]:
dat.to_csv(path_file + "_corona.csv", index=False)
dat.to_excel(path_file + "_corona.xlsx", index=False)
os.listdir( path_dir )

['2021-09-28_corona.csv', '2021-09-28_corona.xlsx']