In [67]:
import pandas as pd
from datetime import date, timedelta

In [68]:
corona = pd.read_csv('./data/coronaboard(2021-09-27).csv')
vaccine = pd.read_csv('./data/bloomberg(2021-09-27).csv')
country = pd.read_csv('./data/country.csv')

In [69]:
jandam = corona.loc[corona['êµ­ê°€'] == 'ì”ë‹´ğŸš¢', :]
jandam

Empty DataFrame
Columns: [êµ­ê°€, í™•ì§„ì, ì¹˜ë£Œì¤‘, ìœ„ì¤‘ì¦, ì‚¬ë§ì, ì™„ì¹˜, ì¹˜ëª…(%), ì™„ì¹˜(%), ë°œìƒë¥ , ì¸êµ¬ìˆ˜]
Index: []

In [70]:
corona.drop(jandam.index, inplace=True)

In [71]:
corona['êµ­ê°€']

0          ë¯¸êµ­ğŸ‡ºğŸ‡¸
1          ì¸ë„ğŸ‡®ğŸ‡³
2         ë¸Œë¼ì§ˆğŸ‡§ğŸ‡·
3          ì˜êµ­ğŸ‡¬ğŸ‡§
4         ëŸ¬ì‹œì•„ğŸ‡·ğŸ‡º
         ...
145       ë°”í•˜ë§ˆğŸ‡§ğŸ‡¸
146       ë§ˆìš”íŠ¸ğŸ‡¾ğŸ‡¹
147      ì†Œë§ë¦¬ì•„ğŸ‡¸ğŸ‡´
148       ë²¨ë¦¬ì¦ˆğŸ‡§ğŸ‡¿
149    íŒŒí‘¸ì•„ë‰´ê¸°ë‹ˆğŸ‡µğŸ‡¬
Name: êµ­ê°€, Length: 150, dtype: object

In [72]:
corona['êµ­ê°€ì½”ë“œ'] = corona['êµ­ê°€'].str[-2:]

In [73]:
corona['êµ­ê°€'] = corona['êµ­ê°€'].str[:-2]

In [74]:
corona.head()

,êµ­ê°€,í™•ì§„ì,ì¹˜ë£Œì¤‘,ìœ„ì¤‘ì¦,ì‚¬ë§ì,ì™„ì¹˜,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,êµ­ê°€ì½”ë“œ
0,ë¯¸êµ­,43754953,9862346.0,22094.0,706338,33186269.0,1.6,75.8,132517,331002651,ğŸ‡ºğŸ‡¸
1,ì¸ë„,33693148,297170.0,8944.0,447362,32948616.0,1.3,97.8,24415,1380004385,ğŸ‡®ğŸ‡³
2,ë¸Œë¼ì§ˆ,21351972,417115.0,8318.0,594484,20340373.0,2.8,95.3,100520,212559417,ğŸ‡§ğŸ‡·
3,ì˜êµ­,7664230,1342492.0,916.0,136168,6185570.0,1.8,80.7,113451,67886011,ğŸ‡¬ğŸ‡§
4,ëŸ¬ì‹œì•„,7443149,620353.0,2300.0,204679,6618117.0,2.7,88.9,51003,145934462,ğŸ‡·ğŸ‡º

In [75]:
corona.columns

Index(['êµ­ê°€', 'í™•ì§„ì', 'ì¹˜ë£Œì¤‘', 'ìœ„ì¤‘ì¦', 'ì‚¬ë§ì', 'ì™„ì¹˜', 'ì¹˜ëª…(%)', 'ì™„ì¹˜(%)', 'ë°œìƒë¥ ', 'ì¸êµ¬ìˆ˜',
       'êµ­ê°€ì½”ë“œ'],
      dtype='object')

In [76]:
col = ['êµ­ê°€', 'êµ­ê°€ì½”ë“œ', 'í™•ì§„ì', 'ì¹˜ë£Œì¤‘', 'ìœ„ì¤‘ì¦', 'ì‚¬ë§ì', 'ì™„ì¹˜', 'ì¹˜ëª…(%)', 'ì™„ì¹˜(%)', 'ë°œìƒë¥ ', 'ì¸êµ¬ìˆ˜']

In [77]:
corona = corona[col].copy()

In [78]:
corona.head()

,êµ­ê°€,êµ­ê°€ì½”ë“œ,í™•ì§„ì,ì¹˜ë£Œì¤‘,ìœ„ì¤‘ì¦,ì‚¬ë§ì,ì™„ì¹˜,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜
0,ë¯¸êµ­,ğŸ‡ºğŸ‡¸,43754953,9862346.0,22094.0,706338,33186269.0,1.6,75.8,132517,331002651
1,ì¸ë„,ğŸ‡®ğŸ‡³,33693148,297170.0,8944.0,447362,32948616.0,1.3,97.8,24415,1380004385
2,ë¸Œë¼ì§ˆ,ğŸ‡§ğŸ‡·,21351972,417115.0,8318.0,594484,20340373.0,2.8,95.3,100520,212559417
3,ì˜êµ­,ğŸ‡¬ğŸ‡§,7664230,1342492.0,916.0,136168,6185570.0,1.8,80.7,113451,67886011
4,ëŸ¬ì‹œì•„,ğŸ‡·ğŸ‡º,7443149,620353.0,2300.0,204679,6618117.0,2.7,88.9,51003,145934462

In [79]:
corona.tail()

,êµ­ê°€,êµ­ê°€ì½”ë“œ,í™•ì§„ì,ì¹˜ë£Œì¤‘,ìœ„ì¤‘ì¦,ì‚¬ë§ì,ì™„ì¹˜,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜
145,ë°”í•˜ë§ˆ,ğŸ‡§ğŸ‡¸,20603,1816.0,15.0,522,18265.0,2.5,88.7,52830,393244
146,ë§ˆìš”íŠ¸,ğŸ‡¾ğŸ‡¹,20219,17077.0,NaN,178,2964.0,0.9,14.7,74197,272815
147,ì†Œë§ë¦¬ì•„,ğŸ‡¸ğŸ‡´,19723,9206.0,NaN,1103,9414.0,5.6,47.7,1241,15893222
148,ë²¨ë¦¬ì¦ˆ,ğŸ‡§ğŸ‡¿,19600,1951.0,10.0,402,17247.0,2.1,88.0,49292,397628
149,íŒŒí‘¸ì•„ë‰´ê¸°ë‹ˆ,ğŸ‡µğŸ‡¬,19523,943.0,7.0,227,18353.0,1.2,94.0,2182,8947024

In [80]:
country

    êµ­ë¬¸(ì½”ë¡œë‚˜ë³´ë“œ)      ì˜ë¬¸(ë¸”ë£¸ë²„ê·¸)   ë‚˜ë¼        ë¹„ê³ _ëœ»
0          ê°€ë‚˜         Ghana  NaN         NaN
1          ê°€ë´‰         Gabon  NaN         NaN
2        ê°€ì´ì•„ë‚˜        Guyana  NaN         NaN
3         ê°ë¹„ì•„        Gambia  NaN         NaN
4        ê³¼ë“¤ë£¨í”„           NaN  í”„ë‘ìŠ¤  Guadeloupe
..        ...           ...  ...         ...
222       NaN         Nauru  NaN         ë‚˜ìš°ë£¨
223       NaN         Tonga  NaN          í†µê°€
224       NaN  Turkmenistan  NaN     íˆ¬ë¥´í¬ë©”ë‹ˆìŠ¤íƒ„
225       NaN        Jersey  NaN          ì €ì§€
226       NaN            EU  NaN         NaN

[227 rows x 4 columns]

In [81]:
vaccine

,Countries and regions,Doses administered,Enough for % of people,given 1+ dose,fully vaccinated,Daily rate of doses administered
0,Global Total,6139490122,â€“,â€“,â€“,29402426
1,Mainland China,2197689000,78.5,78.6,73.0,3378000
2,India,860066590,31.4,46.0,16.3,7379929
3,EU,562247469,63.3,67.2,64.5,1022301
4,U.S.,390114328,60.9,64.3,55.3,703352
...,...,...,...,...,...,...
221,Nauru,14863,57.2,58.6,55.8,4
222,St. Helena,7892,65.8,72.7,58.9,8
223,Falkland Islands,4407,73.5,87.7,59.2,202
224,Montserrat,2856,28.6,29.4,27.7,2
225,Eritrea,â€“,â€“,â€“,â€“,â€“

In [82]:
corona = corona.merge(country, left_on='êµ­ê°€', right_on='êµ­ë¬¸(ì½”ë¡œë‚˜ë³´ë“œ)')

In [83]:
corona

,êµ­ê°€,êµ­ê°€ì½”ë“œ,í™•ì§„ì,ì¹˜ë£Œì¤‘,ìœ„ì¤‘ì¦,ì‚¬ë§ì,ì™„ì¹˜,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,êµ­ë¬¸(ì½”ë¡œë‚˜ë³´ë“œ),ì˜ë¬¸(ë¸”ë£¸ë²„ê·¸),ë‚˜ë¼,ë¹„ê³ _ëœ»
0,ë¯¸êµ­,ğŸ‡ºğŸ‡¸,43754953,9862346.0,22094.0,706338,33186269.0,1.6,75.8,132517,331002651,ë¯¸êµ­,U.S.,NaN,NaN
1,ì¸ë„,ğŸ‡®ğŸ‡³,33693148,297170.0,8944.0,447362,32948616.0,1.3,97.8,24415,1380004385,ì¸ë„,India,NaN,NaN
2,ë¸Œë¼ì§ˆ,ğŸ‡§ğŸ‡·,21351972,417115.0,8318.0,594484,20340373.0,2.8,95.3,100520,212559417,ë¸Œë¼ì§ˆ,Brazil,NaN,NaN
3,ì˜êµ­,ğŸ‡¬ğŸ‡§,7664230,1342492.0,916.0,136168,6185570.0,1.8,80.7,113451,67886011,ì˜êµ­,U.K.,NaN,NaN
4,ëŸ¬ì‹œì•„,ğŸ‡·ğŸ‡º,7443149,620353.0,2300.0,204679,6618117.0,2.7,88.9,51003,145934462,ëŸ¬ì‹œì•„,Russia,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,ë°”í•˜ë§ˆ,ğŸ‡§ğŸ‡¸,20603,1816.0,15.0,522,18265.0,2.5,88.7,52830,393244,ë°”í•˜ë§ˆ,Bahamas,NaN,NaN
145,ë§ˆìš”íŠ¸,ğŸ‡¾ğŸ‡¹,20219,17077.0,NaN,178,2964.0,0.9,14.7,74197,272815,ë§ˆìš”íŠ¸,NaN,í”„ë‘ìŠ¤,Mayotte
146,ì†Œë§ë¦¬ì•„,ğŸ‡¸ğŸ‡´,19723,9206.0,NaN,1103,9414.0,5.6,47.7,1241,15893222,ì†Œë§ë¦¬ì•„,Somalia,NaN,NaN
147,ë²¨ë¦¬ì¦ˆ,ğŸ‡§ğŸ‡¿,19600,1951.0,10.0,402,17247.0,2.1,88.0,49292,397628,ë²¨ë¦¬ì¦ˆ,Belize,NaN,NaN
148,íŒŒí‘¸ì•„ë‰´ê¸°ë‹ˆ,ğŸ‡µğŸ‡¬,19523,943.0,7.0,227,18353.0,1.2,94.0,2182,8947024,íŒŒí‘¸ì•„ë‰´ê¸°ë‹ˆ,Papua New Guinea,NaN,NaN

In [84]:
corona.drop(['êµ­ë¬¸(ì½”ë¡œë‚˜ë³´ë“œ)', 'ë‚˜ë¼', 'ë¹„ê³ _ëœ»'], axis=1, inplace=True)

In [85]:
corona

,êµ­ê°€,êµ­ê°€ì½”ë“œ,í™•ì§„ì,ì¹˜ë£Œì¤‘,ìœ„ì¤‘ì¦,ì‚¬ë§ì,ì™„ì¹˜,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,ì˜ë¬¸(ë¸”ë£¸ë²„ê·¸)
0,ë¯¸êµ­,ğŸ‡ºğŸ‡¸,43754953,9862346.0,22094.0,706338,33186269.0,1.6,75.8,132517,331002651,U.S.
1,ì¸ë„,ğŸ‡®ğŸ‡³,33693148,297170.0,8944.0,447362,32948616.0,1.3,97.8,24415,1380004385,India
2,ë¸Œë¼ì§ˆ,ğŸ‡§ğŸ‡·,21351972,417115.0,8318.0,594484,20340373.0,2.8,95.3,100520,212559417,Brazil
3,ì˜êµ­,ğŸ‡¬ğŸ‡§,7664230,1342492.0,916.0,136168,6185570.0,1.8,80.7,113451,67886011,U.K.
4,ëŸ¬ì‹œì•„,ğŸ‡·ğŸ‡º,7443149,620353.0,2300.0,204679,6618117.0,2.7,88.9,51003,145934462,Russia
...,...,...,...,...,...,...,...,...,...,...,...,...
144,ë°”í•˜ë§ˆ,ğŸ‡§ğŸ‡¸,20603,1816.0,15.0,522,18265.0,2.5,88.7,52830,393244,Bahamas
145,ë§ˆìš”íŠ¸,ğŸ‡¾ğŸ‡¹,20219,17077.0,NaN,178,2964.0,0.9,14.7,74197,272815,NaN
146,ì†Œë§ë¦¬ì•„,ğŸ‡¸ğŸ‡´,19723,9206.0,NaN,1103,9414.0,5.6,47.7,1241,15893222,Somalia
147,ë²¨ë¦¬ì¦ˆ,ğŸ‡§ğŸ‡¿,19600,1951.0,10.0,402,17247.0,2.1,88.0,49292,397628,Belize
148,íŒŒí‘¸ì•„ë‰´ê¸°ë‹ˆ,ğŸ‡µğŸ‡¬,19523,943.0,7.0,227,18353.0,1.2,94.0,2182,8947024,Papua New Guinea

In [86]:
corona = corona.merge(vaccine, left_on='ì˜ë¬¸(ë¸”ë£¸ë²„ê·¸)', right_on='Countries and regions')

In [87]:
corona.drop(['ì˜ë¬¸(ë¸”ë£¸ë²„ê·¸)'], axis=1, inplace=True)

In [88]:
corona

,êµ­ê°€,êµ­ê°€ì½”ë“œ,í™•ì§„ì,ì¹˜ë£Œì¤‘,ìœ„ì¤‘ì¦,ì‚¬ë§ì,ì™„ì¹˜,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,Countries and regions,Doses administered,Enough for % of people,given 1+ dose,fully vaccinated,Daily rate of doses administered
0,ë¯¸êµ­,ğŸ‡ºğŸ‡¸,43754953,9862346.0,22094.0,706338,33186269.0,1.6,75.8,132517,331002651,U.S.,390114328,60.9,64.3,55.3,703352
1,ì¸ë„,ğŸ‡®ğŸ‡³,33693148,297170.0,8944.0,447362,32948616.0,1.3,97.8,24415,1380004385,India,860066590,31.4,46.0,16.3,7379929
2,ë¸Œë¼ì§ˆ,ğŸ‡§ğŸ‡·,21351972,417115.0,8318.0,594484,20340373.0,2.8,95.3,100520,212559417,Brazil,231844536,56.2,70.9,41.0,1360269
3,ì˜êµ­,ğŸ‡¬ğŸ‡§,7664230,1342492.0,916.0,136168,6185570.0,1.8,80.7,113451,67886011,U.K.,93461887,70.0,72.9,67.0,69770
4,ëŸ¬ì‹œì•„,ğŸ‡·ğŸ‡º,7443149,620353.0,2300.0,204679,6618117.0,2.7,88.9,51003,145934462,Russia,89453699,30.5,32.4,28.4,234726
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,ì„¸ì´ì…¸,ğŸ‡¸ğŸ‡¨,21257,485.0,NaN,115,20657.0,0.5,97.2,216143,98347,Seychelles,148402,77.3,80.5,74.1,154
136,ë°”í•˜ë§ˆ,ğŸ‡§ğŸ‡¸,20603,1816.0,15.0,522,18265.0,2.5,88.7,52830,393244,Bahamas,184461,24.2,30.0,18.4,611
137,ì†Œë§ë¦¬ì•„,ğŸ‡¸ğŸ‡´,19723,9206.0,NaN,1103,9414.0,5.6,47.7,1241,15893222,Somalia,430762,1.4,1.7,1.2,12993
138,ë²¨ë¦¬ì¦ˆ,ğŸ‡§ğŸ‡¿,19600,1951.0,10.0,402,17247.0,2.1,88.0,49292,397628,Belize,298343,36.6,45.9,27.2,3113
139,íŒŒí‘¸ì•„ë‰´ê¸°ë‹ˆ,ğŸ‡µğŸ‡¬,19523,943.0,7.0,227,18353.0,1.2,94.0,2182,8947024,Papua New Guinea,164776,1.0,1.4,0.5,2517

In [89]:
corona['ìœ„ì¤‘ì¦'] = corona['ìœ„ì¤‘ì¦'].interpolate()

In [90]:
corona['ì¹˜ë£Œì¤‘'] = corona['ì¹˜ë£Œì¤‘'].interpolate()

In [91]:
corona['ì™„ì¹˜'] = corona['ì™„ì¹˜'].interpolate()

In [92]:
corona['ì™„ì¹˜(%)'] = corona['ì™„ì¹˜(%)'].interpolate()

In [93]:
corona.isnull().sum()

êµ­ê°€                                  0
êµ­ê°€ì½”ë“œ                                0
í™•ì§„ì                                 0
ì¹˜ë£Œì¤‘                                 0
ìœ„ì¤‘ì¦                                 0
ì‚¬ë§ì                                 0
ì™„ì¹˜                                  0
ì¹˜ëª…(%)                               0
ì™„ì¹˜(%)                               0
ë°œìƒë¥                                  0
ì¸êµ¬ìˆ˜                                 0
Countries and regions               0
Doses administered                  0
Enough for % of people              0
given 1+ dose                       0
fully vaccinated                    0
Daily rate of doses administered    0
dtype: int64

In [94]:
# ì–´ì œ ë‚ ì§œ
yesterday = date.today() - timedelta(1)
yesterday = yesterday.strftime('%Y-%m-%d')

# íŒŒì¼ëª… ì •í•˜ê¸°
file_name = f'./data/data_merged({yesterday}).csv'

In [95]:
corona.to_csv(file_name, index=False, encoding='utf-8-sig')