In [115]:
import pandas as pd
from datetime import date, timedelta

In [116]:
corona = pd.read_csv('./data/coronaboard(2021-09-29).csv')
vaccine = pd.read_csv('./data/bloomberg(2021-09-29).csv')
country = pd.read_csv('./data/country.csv')

In [117]:
jandam = corona.loc[corona['êµ­ê°€'] == 'ì”ë‹´ğŸš¢', :]
jandam

      êµ­ê°€  í™•ì§„ì  ì¹˜ë£Œì¤‘  ìœ„ì¤‘ì¦  ì‚¬ë§ì   ì™„ì¹˜ ì¹˜ëª…(%)  ì™„ì¹˜(%) ë°œìƒë¥  ì¸êµ¬ìˆ˜
215  ì”ë‹´ğŸš¢    9  0.0  NaN    2  7.0  22.2   77.8   -   -

In [118]:
corona.drop(jandam.index, inplace=True)

In [119]:
corona['êµ­ê°€']

0          ë¯¸êµ­ğŸ‡ºğŸ‡¸
1          ì¸ë„ğŸ‡®ğŸ‡³
2         ë¸Œë¼ì§ˆğŸ‡§ğŸ‡·
3          ì˜êµ­ğŸ‡¬ğŸ‡§
4         ëŸ¬ì‹œì•„ğŸ‡·ğŸ‡º
         ...
217     ë§ˆì…œ ì œë„ğŸ‡²ğŸ‡­
218      ë°”ëˆ„ì•„íˆ¬ğŸ‡»ğŸ‡º
219       ì‚¬ëª¨ì•„ğŸ‡¼ğŸ‡¸
220    ì„¸ì¸íŠ¸í—¬ë ˆë‚˜ğŸ‡¸ğŸ‡­
221    ë¯¸í¬ë¡œë„¤ì‹œì•„ğŸ‡«ğŸ‡²
Name: êµ­ê°€, Length: 221, dtype: object

In [120]:
corona['êµ­ê°€ì½”ë“œ'] = corona['êµ­ê°€'].str[-2:]

In [121]:
corona['êµ­ê°€'] = corona['êµ­ê°€'].str[:-2]

In [122]:
corona.head()

,êµ­ê°€,í™•ì§„ì,ì¹˜ë£Œì¤‘,ìœ„ì¤‘ì¦,ì‚¬ë§ì,ì™„ì¹˜,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,êµ­ê°€ì½”ë“œ
0,ë¯¸êµ­,44055692,9823512.0,21296.0,711222,33520958.0,1.6,76.1,133437,331002651,ğŸ‡ºğŸ‡¸
1,ì¸ë„,33718984,284976.0,8944.0,447828,32986180.0,1.3,97.8,24448,1380004385,ğŸ‡®ğŸ‡³
2,ë¸Œë¼ì§ˆ,21381790,403027.0,8318.0,595520,20383243.0,2.8,95.3,100676,212559417,ğŸ‡§ğŸ‡·
3,ì˜êµ­,7736235,1344510.0,831.0,136375,6255350.0,1.8,80.9,114476,67886011,ğŸ‡¬ğŸ‡§
4,ëŸ¬ì‹œì•„,7487138,626809.0,2300.0,206388,6653941.0,2.8,88.9,51305,145934462,ğŸ‡·ğŸ‡º

In [123]:
corona.columns

Index(['êµ­ê°€', 'í™•ì§„ì', 'ì¹˜ë£Œì¤‘', 'ìœ„ì¤‘ì¦', 'ì‚¬ë§ì', 'ì™„ì¹˜', 'ì¹˜ëª…(%)', 'ì™„ì¹˜(%)', 'ë°œìƒë¥ ', 'ì¸êµ¬ìˆ˜',
       'êµ­ê°€ì½”ë“œ'],
      dtype='object')

In [124]:
col = ['êµ­ê°€', 'êµ­ê°€ì½”ë“œ', 'í™•ì§„ì', 'ì¹˜ë£Œì¤‘', 'ìœ„ì¤‘ì¦', 'ì‚¬ë§ì', 'ì™„ì¹˜', 'ì¹˜ëª…(%)', 'ì™„ì¹˜(%)', 'ë°œìƒë¥ ', 'ì¸êµ¬ìˆ˜']

In [125]:
corona = corona[col].copy()

In [126]:
corona.head()

,êµ­ê°€,êµ­ê°€ì½”ë“œ,í™•ì§„ì,ì¹˜ë£Œì¤‘,ìœ„ì¤‘ì¦,ì‚¬ë§ì,ì™„ì¹˜,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜
0,ë¯¸êµ­,ğŸ‡ºğŸ‡¸,44055692,9823512.0,21296.0,711222,33520958.0,1.6,76.1,133437,331002651
1,ì¸ë„,ğŸ‡®ğŸ‡³,33718984,284976.0,8944.0,447828,32986180.0,1.3,97.8,24448,1380004385
2,ë¸Œë¼ì§ˆ,ğŸ‡§ğŸ‡·,21381790,403027.0,8318.0,595520,20383243.0,2.8,95.3,100676,212559417
3,ì˜êµ­,ğŸ‡¬ğŸ‡§,7736235,1344510.0,831.0,136375,6255350.0,1.8,80.9,114476,67886011
4,ëŸ¬ì‹œì•„,ğŸ‡·ğŸ‡º,7487138,626809.0,2300.0,206388,6653941.0,2.8,88.9,51305,145934462

In [127]:
corona.tail()

         êµ­ê°€ êµ­ê°€ì½”ë“œ  í™•ì§„ì  ì¹˜ë£Œì¤‘  ìœ„ì¤‘ì¦  ì‚¬ë§ì   ì™„ì¹˜ ì¹˜ëª…(%)  ì™„ì¹˜(%)  ë°œìƒë¥      ì¸êµ¬ìˆ˜
217   ë§ˆì…œ ì œë„   ğŸ‡²ğŸ‡­    4  0.0  NaN    0  4.0     -  100.0   68   59190
218    ë°”ëˆ„ì•„íˆ¬   ğŸ‡»ğŸ‡º    4  0.0  NaN    1  3.0    25   75.0   13  307145
219     ì‚¬ëª¨ì•„   ğŸ‡¼ğŸ‡¸    3  0.0  NaN    0  3.0     -  100.0   15  198414
220  ì„¸ì¸íŠ¸í—¬ë ˆë‚˜   ğŸ‡¸ğŸ‡­    2  0.0  NaN    0  2.0     -  100.0  329    6077
221  ë¯¸í¬ë¡œë„¤ì‹œì•„   ğŸ‡«ğŸ‡²    1  0.0  NaN    0  1.0     -  100.0    9  115023

In [128]:
country

    êµ­ë¬¸(ì½”ë¡œë‚˜ë³´ë“œ)      ì˜ë¬¸(ë¸”ë£¸ë²„ê·¸)   ë‚˜ë¼        ë¹„ê³ _ëœ»
0          ê°€ë‚˜         Ghana  NaN         NaN
1          ê°€ë´‰         Gabon  NaN         NaN
2        ê°€ì´ì•„ë‚˜        Guyana  NaN         NaN
3         ê°ë¹„ì•„        Gambia  NaN         NaN
4        ê³¼ë“¤ë£¨í”„           NaN  í”„ë‘ìŠ¤  Guadeloupe
..        ...           ...  ...         ...
222       NaN         Nauru  NaN         ë‚˜ìš°ë£¨
223       NaN         Tonga  NaN          í†µê°€
224       NaN  Turkmenistan  NaN     íˆ¬ë¥´í¬ë©”ë‹ˆìŠ¤íƒ„
225       NaN        Jersey  NaN          ì €ì§€
226       NaN            EU  NaN         NaN

[227 rows x 4 columns]

In [129]:
vaccine

,Countries and regions,Doses administered,Enough for % of people,given 1+ dose,fully vaccinated,Daily rate of doses administered
0,Global Total,6199443468,â€“,â€“,â€“,29152868
1,Mainland China,2203185000,78.7,78.6,73.0,3171286
2,India,876538633,32.0,46.7,16.8,7178901
3,EU,564029956,63.5,67.3,64.7,1052903
4,U.S.,391152574,61.1,64.4,55.8,701422
...,...,...,...,...,...,...
221,Nauru,14863,57.2,58.6,55.8,4
222,St. Helena,7892,65.8,72.7,58.9,8
223,Falkland Islands,4407,73.5,87.7,59.2,202
224,Montserrat,2871,28.7,29.7,27.8,2
225,Eritrea,â€“,â€“,â€“,â€“,â€“

In [130]:
corona = corona.merge(country, left_on='êµ­ê°€', right_on='êµ­ë¬¸(ì½”ë¡œë‚˜ë³´ë“œ)')

In [131]:
corona

,êµ­ê°€,êµ­ê°€ì½”ë“œ,í™•ì§„ì,ì¹˜ë£Œì¤‘,ìœ„ì¤‘ì¦,ì‚¬ë§ì,ì™„ì¹˜,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,êµ­ë¬¸(ì½”ë¡œë‚˜ë³´ë“œ),ì˜ë¬¸(ë¸”ë£¸ë²„ê·¸),ë‚˜ë¼,ë¹„ê³ _ëœ»
0,ë¯¸êµ­,ğŸ‡ºğŸ‡¸,44055692,9823512.0,21296.0,711222,33520958.0,1.6,76.1,133437,331002651,ë¯¸êµ­,U.S.,NaN,NaN
1,ì¸ë„,ğŸ‡®ğŸ‡³,33718984,284976.0,8944.0,447828,32986180.0,1.3,97.8,24448,1380004385,ì¸ë„,India,NaN,NaN
2,ë¸Œë¼ì§ˆ,ğŸ‡§ğŸ‡·,21381790,403027.0,8318.0,595520,20383243.0,2.8,95.3,100676,212559417,ë¸Œë¼ì§ˆ,Brazil,NaN,NaN
3,ì˜êµ­,ğŸ‡¬ğŸ‡§,7736235,1344510.0,831.0,136375,6255350.0,1.8,80.9,114476,67886011,ì˜êµ­,U.K.,NaN,NaN
4,ëŸ¬ì‹œì•„,ğŸ‡·ğŸ‡º,7487138,626809.0,2300.0,206388,6653941.0,2.8,88.9,51305,145934462,ëŸ¬ì‹œì•„,Russia,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,ë§ˆì…œ ì œë„,ğŸ‡²ğŸ‡­,4,0.0,NaN,0,4.0,-,100.0,68,59190,ë§ˆì…œ ì œë„,NaN,NaN,Republic of the Marshall Islands
215,ë°”ëˆ„ì•„íˆ¬,ğŸ‡»ğŸ‡º,4,0.0,NaN,1,3.0,25,75.0,13,307145,ë°”ëˆ„ì•„íˆ¬,NaN,NaN,Republic of Vanuatu
216,ì‚¬ëª¨ì•„,ğŸ‡¼ğŸ‡¸,3,0.0,NaN,0,3.0,-,100.0,15,198414,ì‚¬ëª¨ì•„,Samoa,NaN,NaN
217,ì„¸ì¸íŠ¸í—¬ë ˆë‚˜,ğŸ‡¸ğŸ‡­,2,0.0,NaN,0,2.0,-,100.0,329,6077,ì„¸ì¸íŠ¸í—¬ë ˆë‚˜,St. Helena,NaN,NaN
218,ë¯¸í¬ë¡œë„¤ì‹œì•„,ğŸ‡«ğŸ‡²,1,0.0,NaN,0,1.0,-,100.0,9,115023,ë¯¸í¬ë¡œë„¤ì‹œì•„,Micronesia,NaN,NaN

In [132]:
corona.drop(['êµ­ë¬¸(ì½”ë¡œë‚˜ë³´ë“œ)', 'ë‚˜ë¼', 'ë¹„ê³ _ëœ»'], axis=1, inplace=True)

In [133]:
corona

,êµ­ê°€,êµ­ê°€ì½”ë“œ,í™•ì§„ì,ì¹˜ë£Œì¤‘,ìœ„ì¤‘ì¦,ì‚¬ë§ì,ì™„ì¹˜,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,ì˜ë¬¸(ë¸”ë£¸ë²„ê·¸)
0,ë¯¸êµ­,ğŸ‡ºğŸ‡¸,44055692,9823512.0,21296.0,711222,33520958.0,1.6,76.1,133437,331002651,U.S.
1,ì¸ë„,ğŸ‡®ğŸ‡³,33718984,284976.0,8944.0,447828,32986180.0,1.3,97.8,24448,1380004385,India
2,ë¸Œë¼ì§ˆ,ğŸ‡§ğŸ‡·,21381790,403027.0,8318.0,595520,20383243.0,2.8,95.3,100676,212559417,Brazil
3,ì˜êµ­,ğŸ‡¬ğŸ‡§,7736235,1344510.0,831.0,136375,6255350.0,1.8,80.9,114476,67886011,U.K.
4,ëŸ¬ì‹œì•„,ğŸ‡·ğŸ‡º,7487138,626809.0,2300.0,206388,6653941.0,2.8,88.9,51305,145934462,Russia
...,...,...,...,...,...,...,...,...,...,...,...,...
214,ë§ˆì…œ ì œë„,ğŸ‡²ğŸ‡­,4,0.0,NaN,0,4.0,-,100.0,68,59190,NaN
215,ë°”ëˆ„ì•„íˆ¬,ğŸ‡»ğŸ‡º,4,0.0,NaN,1,3.0,25,75.0,13,307145,NaN
216,ì‚¬ëª¨ì•„,ğŸ‡¼ğŸ‡¸,3,0.0,NaN,0,3.0,-,100.0,15,198414,Samoa
217,ì„¸ì¸íŠ¸í—¬ë ˆë‚˜,ğŸ‡¸ğŸ‡­,2,0.0,NaN,0,2.0,-,100.0,329,6077,St. Helena
218,ë¯¸í¬ë¡œë„¤ì‹œì•„,ğŸ‡«ğŸ‡²,1,0.0,NaN,0,1.0,-,100.0,9,115023,Micronesia

In [134]:
corona = corona.merge(vaccine, left_on='ì˜ë¬¸(ë¸”ë£¸ë²„ê·¸)', right_on='Countries and regions')

In [135]:
corona.drop(['ì˜ë¬¸(ë¸”ë£¸ë²„ê·¸)'], axis=1, inplace=True)

In [136]:
corona

,êµ­ê°€,êµ­ê°€ì½”ë“œ,í™•ì§„ì,ì¹˜ë£Œì¤‘,ìœ„ì¤‘ì¦,ì‚¬ë§ì,ì™„ì¹˜,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,Countries and regions,Doses administered,Enough for % of people,given 1+ dose,fully vaccinated,Daily rate of doses administered
0,ë¯¸êµ­,ğŸ‡ºğŸ‡¸,44055692,9823512.0,21296.0,711222,33520958.0,1.6,76.1,133437,331002651,U.S.,391152574,61.1,64.4,55.8,701422
1,ì¸ë„,ğŸ‡®ğŸ‡³,33718984,284976.0,8944.0,447828,32986180.0,1.3,97.8,24448,1380004385,India,876538633,32.0,46.7,16.8,7178901
2,ë¸Œë¼ì§ˆ,ğŸ‡§ğŸ‡·,21381790,403027.0,8318.0,595520,20383243.0,2.8,95.3,100676,212559417,Brazil,233261963,56.5,71.3,41.9,1317163
3,ì˜êµ­,ğŸ‡¬ğŸ‡§,7736235,1344510.0,831.0,136375,6255350.0,1.8,80.9,114476,67886011,U.K.,93565474,70.0,73.0,67.1,63126
4,ëŸ¬ì‹œì•„,ğŸ‡·ğŸ‡º,7487138,626809.0,2300.0,206388,6653941.0,2.8,88.9,51305,145934462,Russia,89865316,30.6,32.6,28.5,214966
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,ëª¬íŠ¸ì„¸ë«,ğŸ‡²ğŸ‡¸,33,2.0,NaN,1,30.0,3.0,90.9,6611,4992,Montserrat,2871,28.7,29.7,27.8,2
190,ì†”ë¡œëª¬ ì œë„,ğŸ‡¸ğŸ‡§,20,0.0,NaN,0,20.0,-,100.0,29,686884,Solomon Islands,97744,7.6,11.6,3.6,2902
191,ì‚¬ëª¨ì•„,ğŸ‡¼ğŸ‡¸,3,0.0,NaN,0,3.0,-,100.0,15,198414,Samoa,149431,37.2,49.3,25.0,981
192,ì„¸ì¸íŠ¸í—¬ë ˆë‚˜,ğŸ‡¸ğŸ‡­,2,0.0,NaN,0,2.0,-,100.0,329,6077,St. Helena,7892,65.8,72.7,58.9,8
193,ë¯¸í¬ë¡œë„¤ì‹œì•„,ğŸ‡«ğŸ‡²,1,0.0,NaN,0,1.0,-,100.0,9,115023,Micronesia,72085,34.7,41.6,â€“,266

In [137]:
corona['ìœ„ì¤‘ì¦'] = corona['ìœ„ì¤‘ì¦'].interpolate()

In [138]:
corona['ì¹˜ë£Œì¤‘'] = corona['ì¹˜ë£Œì¤‘'].interpolate()

In [139]:
corona['ì™„ì¹˜'] = corona['ì™„ì¹˜'].interpolate()

In [140]:
corona['ì¹˜ëª…(%)'] = corona['ì¹˜ëª…(%)'].interpolate()

In [141]:
corona['ì™„ì¹˜(%)'] = corona['ì™„ì¹˜(%)'].interpolate()

In [142]:
corona.isnull().sum()

êµ­ê°€                                  0
êµ­ê°€ì½”ë“œ                                0
í™•ì§„ì                                 0
ì¹˜ë£Œì¤‘                                 0
ìœ„ì¤‘ì¦                                 0
ì‚¬ë§ì                                 0
ì™„ì¹˜                                  0
ì¹˜ëª…(%)                               0
ì™„ì¹˜(%)                               0
ë°œìƒë¥                                  0
ì¸êµ¬ìˆ˜                                 0
Countries and regions               0
Doses administered                  0
Enough for % of people              0
given 1+ dose                       0
fully vaccinated                    0
Daily rate of doses administered    0
dtype: int64

In [143]:
# ì–´ì œ ë‚ ì§œ
yesterday = date.today() - timedelta(1)
yesterday = yesterday.strftime('%Y-%m-%d')

# íŒŒì¼ëª… ì •í•˜ê¸°
file_name = f'./data/data_merged({yesterday}).csv'

In [144]:
corona.to_csv(file_name, index=False, encoding='utf-8-sig')