# 자체 평가지표
* 가지고 있는 제출 파일과 비교

## 데이터 가져오기

In [8]:
import pandas as pd
from tqdm import tqdm

In [9]:
# 판다스 라이브러리에서 과학적 표기 사용 안하기
pd.options.display.float_format = '{:.5f}'.format

In [10]:
# sub24_pycaret12.csv 제출 점수 : 0.1032155541
before_sub = pd.read_csv('sub24_pycaret12.csv')
present_sub = pd.read_csv('3월예측.csv')

## 열을 일자, 시간, 구분 열 분해

In [11]:
# 전 체출 파일 열 정리
before_sub[['일자', '시간', '구분']] = before_sub['일자|시간|구분'].str.split(' ').to_list()
before_sub = before_sub.drop('일자|시간|구분', axis=1)
before_sub = before_sub[['일자', '시간', '구분', '공급량']]
# 현재 체출 파일 열 정리
present_sub[['일자', '시간', '구분']] = present_sub['일자|시간|구분'].str.split(' ').to_list()
present_sub = present_sub.drop('일자|시간|구분', axis=1)
present_sub = present_sub[['일자', '시간', '구분', '공급량']]

### 평가 지표 함수화

In [ ]:
def evaluation_index(before_sub, present_sub):
    eval_set = pd.DataFrame(['MSE','RMSE', 'MAE', 'R2','NMAE'], columns=['평가지표'])
    for division in tqdm(present_sub['구분'].unique()):
        temp_before_sub = before_sub[before_sub['구분'] == division]
        temp_present_sub = present_sub[present_sub['구분'] == division]

        # 전 제출 값 = 실제값 취급
        # 현제 제출 값 = 예측값
        y = temp_before_sub['공급량']
        pred = temp_present_sub['공급량']
        y_mean = y.mean()

        # MSE
        mse = ( ( y - pred) ** 2 ).sum() / len(pred)
            
        # RMSE
        rmse = mse ** (1/2)
        
        # MAE
        mae = ( abs( y - pred ) ).sum() / len(pred)
        
        # R2
        upper = ( (y - pred) ** 2 ).sum()
        lower = ( (y - y_mean) ** 2 ).sum()
        if lower == 0:
            fraction = 0
        else:
            fraction = upper / lower
        r2 = 1 - fraction
        
        #NMAE(Normalized Mean Absolute Error)-정규화 평균 절대 오차 척도
        nmae = ( abs( y - pred ) / y ).sum() / len(pred)
        
        # 평가지표 리스트
        one_eval_set = [mse, rmse, mae, r2, nmae]
        
        # 평가지표 셋에 담기
        eval_set[division] = one_eval_set

    # 평가지표 평균 구하기
    eval_set['평가지표_평균'] = eval_set.mean(axis=1)

    # 평가지표 평균 출력
    print(eval_set[['평가지표', '평가지표_평균']])
    
    return eval_set

In [6]:
set = evaluation_index(before_sub, present_sub)

100%|██████████| 7/7 [00:00<00:00, 57.53it/s]

   평가지표     평가지표_평균
0   MSE 15433.61198
1  RMSE    98.63069
2   MAE    81.23554
3    R2     0.93810
4  NMAE     0.04649

In [7]:
set

,평가지표,A,B,C,D,E,G,H,평가지표_평균
0,MSE,16308.00293,10537.13686,49.28483,3233.13956,16080.07342,61358.16950,469.47672,15433.61198
1,RMSE,127.70279,102.65056,7.02032,56.86070,126.80723,247.70581,21.66741,98.63069
2,MAE,102.48888,77.65426,5.75298,44.44059,100.50354,220.45492,17.35363,81.23554
3,R2,0.93086,0.94616,0.95023,0.95886,0.95677,0.86118,0.96261,0.93810
4,NMAE,0.05320,0.04710,0.03078,0.04010,0.04165,0.07262,0.03995,0.04649